<% include ../_html/head %>

<% include ../_elements/navigation-top-bar %>
    
    
<div class="row subject">
    <div class="container">
        <h1 class="subject-title">Ben Stuijts. Kan ik jou helpen?</h1>
        <h2 class="subject-subtitle">
            Vader | Mentor | Ondernemer | Sportcoach | Manager
           
            <hr>
            <a href="<%= urlFor('home') %>" class="btn btn-default" title="Homepage">
                <i class="fa fa-home fa-2x"></i>
            </a>
            <a href="mailto:<%= contact.email %>?subject=Ik heb een vraag over mentorpower" class="btn btn-default" title="Neem contact met mij op per Email">
                <i class="fa fa-envelope-o fa-2x"></i>
            </a>
            <a href="<%= contact.linkin %>" class="btn btn-default" target="_blank" title="linkedin pagina van Ben Stuijts">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="<%= contact.facebook %>" class="btn btn-default" target="_blank" title="Facebook pagina van MentorPower">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="<%= contact.google %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
            <a href="<%= contact.twitter %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </h2>
    </div>
        
</div>
    

<div class="container">
    <% include ../_elements/breadcrumbs %>
    <div class="jumbotron">
        <blockquote class="blockquote-reverse">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/000/11d/353/1e6e9d5.jpg" alt="Ben Stuijts" class="img-circle pull-left">
            <p>
            <i class="fa fa-quote-right fa-3x"></i>
            Mijn persoonlijkheid kan getypeerd worden als: objectief, inventief, kritisch, eigengereid, leergierig, probleemoplossend en efficiënt. Ik ben origineel van geest en heb een enorme drive om mijn doelen te bereiken en mijn ideeën te implementeren.
            
            MBTI - profiel: <a href="https://www.16personalities.com/nl/entj-persoonlijkheid" target="_blank">ENTJ</a>

            </p>
            <% include ../partials/share %>
        </blockquote>       
    </div>
    
    <h2>Ervaringen als leidinggevende</h2>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Nu: Manager team Stadsontwikkeling - gemeente Nissewaard</h3>
        </div>
        <div class="panel-body">
            <p>
                Integraal verantwoordelijk voor team van 16 hoog opgeleide professionals, die
                werkzaam zijn als adviseur of beleidsmedewerker op de gebieden:
                <ul>
                    <li>Ruimtelijke & Economische ontwikkeling</li>
                    <li>Wonen</li>
                    <li>Duurzaamheid</li>
                    <li>Ruimtelijke Ordeningsprocedures</li>
                    <li>Monumenten & Archeologie</li>
                </ul>
            </p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">2010 - 2015 Manager team Ruimtelijk Beleid - gemeente Spijkenisse</h3>
        </div>
        <div class="panel-body">
            <p>
                Integraal verantwoordelijk voor team van 14 hoog opgeleide professionals, die
                werkzaam zijn als adviseur of beleidsmedewerker op de gebieden:
                <ul>
                    <li>Stedenbouw</li>
                    <li>Economie</li>
                    <li>Verkeer & Vervoer</li>
                    <li>Wonen</li>
                    <li>Duurzaamheid</li>
                    <li>Ruimtelijke Ordeningsprocedures</li>
                </ul>
            </p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">2008 - 2010 Teamcoördinator Stedenbouw - gemeente Spijkenisse</h3>
        </div>
        <div class="panel-body">
            <p>
                Coördinerend leidinggevende van het team, dat zich bezig houdt met de stedenbouwkundige
                beleidsmatige opgaves van de stad en de uitwerking daarvan in projecten.
            </p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">2003 - 2008 Stedenbouwkundige & projectleider - gemeente Maassluis</h3>
        </div>
        <div class="panel-body">
            <p>
                Bijdrage leveren als stedenbouwkundige aan de ruimtelijke ontwikkeling van de stad
                en haar projecten.
            </p>
        </div>
    </div>
    
    <h2>Ervaringen in de hockeysport</h2>    
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Nu: Technisch Manager - Hockeyvereniging Spijkenisse</h3>
        </div>
        <div class="panel-body">
            <p>
                Het, samen met de leden, opstellen van een strategisch plan met als doel om
                de vereniging gericjt te laten ontwikkelen naar een hechte sportvereniging, waarin
                respect, sportbeleving en samenhorigheid centraal staan. Daarbij geef ik aan diverse 
                teams trainingen, waaronder:
                <ul>
                    <li>Heren 1</li>
                    <li>Dames 1</li>
                    <li>Dames 2</li>
                    <li>Meisjes C1 / B2</li>
                </ul>
            </p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">2014 - 2015 Trainer / coach dames 1 - Derby </h3>
        </div>
        <div class="panel-body">
            <p>
                Coaching en training van het eerste damesteam van derby, uitkomende in de derde klasse.
                Wij hebben samen een derde plaats weten te realiseren.
            </p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">2011 - 2013 Trainer / coach jongens A1 - Push</h3>
        </div>
        <div class="panel-body">
            <p>
                Coaching en training van het eerste A1 team van Push, uitkomende in de hoofdklasse.
                Wij hebben samen een vijfde plaats weten te realiseren. Daarbij hebben wij de finale van
                het landskampioenschap zaalhockey weten te bereiken, die helaas verloren ging.
            </p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">2008 - 2010 Trainer / coach dames 1 - Leiden</h3>
        </div>
        <div class="panel-body">
            <p>
                Coaching en training van het eerste dames team van Leiden, uitkomende in de eerste klasse.
                De beste eindnotering is een vierde plaats in de eerste klasse.
            </p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">2006 - 2008 Trainer / coach dames 1 - Roomburg</h3>
        </div>
        <div class="panel-body">
            <p>
                Coaching en training van het eerste dames team van Roomburg, uitkomende in de eerste 
                en later in de overgangsklasse.
                Wij zijn kampioen geworden van de eerste klasse en hebben ons weten te handhaven in de
                overgangsklasse.
            </p>
        </div>
    </div>
    
    <h2>Skills</h2>
    <ul class="list-group">
        <li class="list-group-item">Strategie</li>
        <li class="list-group-item">Management van mensen</li>
        <li class="list-group-item">Management van projecten (inhoud)</li>
        <li class="list-group-item">Beleid maken, inspirerend en uitnodigend voor anderen.</li>
        <li class="list-group-item">Creatieve brainstorms</li>
        <li class="list-group-item">Kan wel mentaliteit</li>
        <li class="list-group-item">"Zet mensen in hun kracht!"</li>
    </ul>
    <h2>Opleidingen</h2>
    <ul class="list-group">
        <li class="list-group-item">TU Delft - stedenbouw en Bouwmanagement & Vastgoedbeheer</li>
        <li class="list-group-item">UNC Delta Plus - LEAN Management (green belt)</li>
        <li class="list-group-item">Optimaal Talent - Groepsdynamica</li>
        <li class="list-group-item">Deltalent - Covey</li>
        <li class="list-group-item">Peter Murphy - MBTI / Actiontype</li>
    </ul>
    <h2>Ondernemen</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="<%= baseUrl %>" target="_blank">MentorPower is de kunst van het vragen stellen en antwoorden geven.</a></li>
        <li class="list-group-item"><a href="http://telefoonaanbiedingen.nl" target="_blank">Telefoon Aanbiedingen</a></li>
        <li class="list-group-item"><a href="http://www.overstapvergelijker.nl" target="_blank">Overstapvergelijker is vergelijken, overstappen en besparen.</a></li>

    </ul>
    
    
    
</div>

<% include ../_html/scripts %>