<% include ../_html/head %>

<% include ../_elements/navigation-top-bar %>

<div class="row subject">
    <div class="container">
        <h1 class="subject-title">Carin den Heijer. Waar krijg jij nou energie van?</h1>
        <h2 class="subject-subtitle">
            Wat is mijn volgende stap in mijn carrière en hoe neem ik deze stap?
            <hr>
            <a href="<%= urlFor('home') %>" class="btn btn-default" title="Homepage">
                <i class="fa fa-home fa-2x"></i>
            </a>
            <a href="mailto:<%= contact.email %>?subject=Ik heb een vraag over mentorpower" class="btn btn-default" title="Neem contact met mij op per Email">
                <i class="fa fa-envelope-o fa-2x"></i>
            </a>
            <a href="<%= contact.linkin %>" class="btn btn-default" target="_blank" title="linkedin pagina van Ben Stuijts">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="<%= contact.facebook %>" class="btn btn-default" target="_blank" title="Facebook pagina van MentorPower">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="<%= contact.google %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
            <a href="<%= contact.twitter %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </h2>
    </div>
</div>

<div class="container">
    <% include ../_elements/breadcrumbs %>
    
    <div class="jumbotron">
        <blockquote class="blockquote-reverse">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJRAAAAJDg2MjMzY2Y5LWY0MjQtNDc0MC1hODVjLWI5YjU2ZGRkNmIyZA.jpg" alt="Carin den Heijer" class="img-circle pull-left pasfoto">
            <p>
                <i class="fa fa-quote-right fa-3x"></i>
                Als moeder van drie opgroeiende zonen, echtgenote en werknemer, is het soms een hele toer om alles draaiende te houden. Vaak bepaalde de waan van de dag, wat ik op een dag wel en niet zou doen. Betekende dit, dat ik geen dromen had/heb?
            </p>
            <% include ../partials/share %>    
        </blockquote>
         
    </div>
    
    <h2>Go with the flow - Doe maar normaal, dan doe je al gek genoeg!</h2>
    <p>
        Oh jawel, dromen zat! Maar helaas is daar nu eenmaal niet altijd tijd voor. Ooit, een keer, wellicht, maar niet nu. Zo vloog ik mee in de vaart der volkeren, met mijn dromen diep in mijn hart verstopt. “Wat ik graag zou willen, kan toch niet,” zo hield ik mijzelf voor.
Ik switchte van baan en kreeg in 2013 Ben als leidinggevende. Eén van de eerste vragen die Ben aan mij stelde was: “Waar krijg jij nou energie van?” Daar moest ik over nadenken. Die vraag maakte, dat ik toch naar die verstopte dromen ging kijken. Zo zette Ben mij in beweging in een zoektocht naar waar mijn kracht ligt. Want als je dat weet en je gaat vanuit die kracht iets doen, gaat het haast vanzelf, krijg je inderdaad energie. Ik zou het haast zo willen omschrijven: dan voel je je thuis in jezelf.
    </p>
    <h2>Gewoon doen!</h2>
    <p>
        Ik gaf Ben aan dat ik energie krijg van fictie schrijven. Hij moedigde mij aan om daar dan mee aan de slag te gaan, gewoon een maand vrij te nemen en me helemaal aan dat schrijven te wijden. Zoiets geks had ik nog nooit gedaan. Maar ik heb het gedaan en inmiddels heb ik mijn eerste roman af. Wat een gevoel van voldoening geeft dat!
    </p>
    <h2>Het eerste zetje krijgen en dan zelf doen...</h2>
    <p>
        Ben zag in mij, nog voordat ik daar zelf aan durfde, dat ik leidinggevende capaciteiten heb. Dat zei hij ook gewoon en hij faciliteerde mij vanuit zijn functie als leidinggevende, om daarin mijn eerste stapjes te zetten. Als het mis ging, hielp hij mij met humor en vragen vooruit. Hij daagde mij uit om zelf na te denken over wat wel of niet werkte, maar ook wat ik wel of niet zou kunnen. Als ik eens verbaasd bij hem kwam met de mededeling, “Ben, dit werkt niet,” kon hij in de lach schieten en mij zelf laten uitvissen waarom iets dan niet werkte. En als ik dat dan ontdekt had, gaf hij mij een zetje om het dan anders aan te pakken.
    </p>
    <h2>En nu?</h2>
    <p>
        Wat ik vooral van Ben geleerd heb, is om ook bij anderen op zoek te gaan naar waar hun kracht ligt. Vanuit die kracht geeft iemand vanzelf de beste inzet.

Eén van de dingen waarin ik heel concreet merk dat ik een ontwikkeling doormaak, is dat ik makkelijker uit mijn comfortzone durf te stappen. Harmonie is voor mij een hele belangrijke waarde en daarvanuit probeerde ik iedere conflictsituatie te vermijden. Inmiddels heb ik ontdekt dat ik conflicten prima kan hanteren en zelfs dat ik ze soms zelf bewust kan inzetten om een doel te bereiken.
Ik heb mijn vleugels breder kunnen uitslaan en ik kan meer dan ik zelf dacht!
    </p>
    
    
</div>


<% include ../_html/scripts %>