<% include ../_html/head %>

<% include ../_elements/navigation-top-bar %>

<div class="row subject">
    <div class="container">
        <h1 class="subject-title">Dominique Aarts. Ik wil spelen in het Nederlands Elftal U18.</h1>
        <h2 class="subject-subtitle">
            Samenwerken aan een droom
            <hr>
            <a href="<%= urlFor('home') %>" class="btn btn-default" title="Homepage">
                <i class="fa fa-home fa-2x"></i>
            </a>
            <a href="mailto:<%= contact.email %>?subject=Ik heb een vraag over mentorpower" class="btn btn-default" title="Neem contact met mij op per Email">
                <i class="fa fa-envelope-o fa-2x"></i>
            </a>
            <a href="<%= contact.linkin %>" class="btn btn-default" target="_blank" title="linkedin pagina van Ben Stuijts">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="<%= contact.facebook %>" class="btn btn-default" target="_blank" title="Facebook pagina van MentorPower">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="<%= contact.google %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
            <a href="<%= contact.twitter %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </h2>
    </div>
</div>

<div class="container">
    <% include ../_elements/breadcrumbs %>
    
    <div class="jumbotron">
        <blockquote class="blockquote-reverse">
            <img src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-frc1/l/t31.0-8/10013439_232285590305694_1021998752_o.jpg" alt="Dominique Aarts" class="img-circle pull-left pasfoto">
            <p>
                <i class="fa fa-quote-right fa-3x"></i>
                Dominique heb ik leren kennen toen ik de trainer / coach van jongens A1 was bij Push in Breda. Hij was toen al enorm talentvol en gedreven, maar het lukte hem nog niet om voor de vertegenwoordige elftallen te spelen. Wij hebben toen een plan gemaakt met als doel om nu wel geselecteerd te gaan worden...
            </p>
            <% include ../partials/share %>             
        </blockquote>

    </div>
    
    <h2>Eerst de analyse: Waarom is de selectie voor het nederlands elftal nog niet gelukt?</h2>
    <p>
        Samen met zijn ouders hebben wij de voorgaande selectiemomenten doorgenomen. Hoe waren die gegaan en wat zouden de redenen kunnen zijn waarom Dominique niet geselecteerd werd? Daarnaast hebben wij heel kritisch naar de kwaliteiten van Dominique gekeken.
        Uit de gesprekken kwamen een drietal belangrijke punten bovendrijven:
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa fa-angle-double-right"></i> De unieke kwaliteiten van Dominique kwamen niet naar voren tijdens selectiemomenten.
            </li>
            <li class="list-group-item">
                <i class="fa fa-angle-double-right"></i> Het afronden met een geslagen bal was onvoldoende ontwikkeld.
            </li>
            <li class="list-group-item">
                <i class="fa fa-angle-double-right"></i> Dominique maakte weinig tot geen contact met de trainers, die de selectietrainingen leiden.
            </li>
        </ul>
    </p>
    <h2>Plan maken en direct aan de slag.</h2>
    <p>
        Met deze speerpunten is Dominique vervolgens aan de slag gegaan. Wij zijn de unieke kwaliteiten meer gaan benadrukken op de trainingen en in de wedstrijden. Hierdoor werden zijn kwaliteiten ook onderscheidend: super conditie, heel snel met en zonder bal & individuele actie.
Dominique zelf is dagelijks gaan trainen op het verbeteren van zijn slagtechniek bij een hockeyclub in de buurt (Were Di). Door dit gedurende een aantal weken vol te houden is zijn slag beter geworden, nog niet top, maar wel om niet "op te vallen in negatieve zin tijdens de selectietrainingen".
Op de trainingen van Push zijn wij gaan oefenen met het contact zoeken met de trainer (mijzelf) door Dominique vooral bij momenten dat zijn kwaliteiten zichtbaar werden. Dit was in het begin best lastig, maar is wel nadrukkelijk beter geworden.
    </p>
    <h2>De selectie...</h2>
    <p>
        Ik ben samen met de vader van Dominique meegeweest naar de selectietrainingen in Utrecht. Het werd een mooie ervaring: Dominique bleef als laatste over bij de Shuttle Run Test (volgens mij trede 17), het afronden ging redelijk, Domique wist een aantal keren slim contact te maken met de trainers en tijdens de partijspelletjes werden de kwaliteiten goed zichtbaar.
        Uiteindelijk heeft deze selectietrainingen geresulteerd in een selectie voor het Nederlands Elftal U18, een fantastische prestatie van Dominique. Ik ben blij en trots dat ik daar een steentje aan heb mogen bijdragen.
    </p>
        
    <div class="alert alert-info">
        <h2>Meer informatie over Dominique Aarts</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="http://www.bd.nl/sport/hockey/tilburgse-broers-tekenen-alvast-bij-bloemendaal-1.3754946" target="_blank">Tilburgse broers tekenen alvast bij Bloemendaal</a>
            </li>
            <li class="list-group-item">
                <a href="http://www.hoofdklassehockey.nl/nieuws/ehl-bloemendaal-via-monsterzege-door-naar-kwartfinales/#OC3A5kfRfxJirFyi.97" target="_blank">EHL: Bloemendaal via monsterzege door naar kwartfinales
            </a>
            </li>
        </ul>
        
        
    </div>
    
    
</div>

<% include ../_html/scripts %>