<% include ../_html/head %>

<% include ../_elements/navigation-top-bar %>

<div class="row subject">
    <div class="container">
        <h1 class="subject-title">Konnekt Buurtnetwerk. Realiseer je droom.</h1>
        <h2 class="subject-subtitle">
            Burgerinitiatief: Het opzetten van een eigen stichting + leiding geven.
            <hr>
            <a href="<%= urlFor('home') %>" class="btn btn-default" title="Homepage">
                <i class="fa fa-home fa-2x"></i>
            </a>
            <a href="mailto:<%= contact.email %>?subject=Ik heb een vraag over mentorpower" class="btn btn-default" title="Neem contact met mij op per Email">
                <i class="fa fa-envelope-o fa-2x"></i>
            </a>
            <a href="<%= contact.linkin %>" class="btn btn-default" target="_blank" title="linkedin pagina van Ben Stuijts">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="<%= contact.facebook %>" class="btn btn-default" target="_blank" title="Facebook pagina van MentorPower">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="<%= contact.google %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
            <a href="<%= contact.twitter %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </h2>
    </div>
</div>


<div class="container">
    <% include ../_elements/breadcrumbs %>
    
    <div class="jumbotron">
        <blockquote class="blockquote-reverse">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjtAAAAJGNmMjBkYjgzLWU2YmYtNGUzMS05NzAzLWYzMWQ0YWU3NjMxMA.jpg" alt="Therese van Wassenaar" class="img-circle pull-left pasfoto">
        <p>
            <i class="fa fa-quote-right fa-3x"></i>
            Al jaren heb ik de drang om iets voor de samenleving te betekenen en dan in het bijzonder voor mijn directe omgeving, de woonbuurten in Spijkenisse Zuidwest. Ik merk dat verschillende mensen in de wijk het zwaar hebben: Men moet onder andere rond komen met een smalle portemonnee, er is eenzaamheid en psychische problemen komen voor. Mijn visie is dat een sociaal netwerk een positieve bijdrage kan leveren aan een betere woonwijk. Mensen komen meer onder elkaar, helpen en ondersteunen elkaar en kunnen elkaar de juiste weg wijzen. Niet iedereen is zelf in staat om te netwerken of mist de aanknopingspunten om mee te doen. Daarom zouden activiteiten, en het vinden van een manier om vraag een aanbod binnen de wijk met elkaar te matchen, kunnen helpen om deze drempel te verlagen.
        </p>
        <% include ../partials/share %>  
        </blockquote>
         
    </div>
    
    <h2>Een vliegende start (medio 2013)</h2>
    <p>
        Allemaal goede ideeën, maar hoe ga ik dat dan aanpakken? Via het wijkontwikkelingsplan, waar ik mijn visie op een ideeënmarkt gepresenteerd heb, kwam ik in contact met Ben en hij heeft mij in eerste instantie op weg geholpen met het goed op papier zetten van mijn ideeën. Hij heeft in het begin heel veel vragen gesteld om de ideeën goed uit mij te trekken. Daarna heeft hij deze vertaald naar een projectplan, waardoor ik een mooi startpunt had om ‘Konnekt Buurtnetwerk’ verder te ontwikkelen. Ik heb zelf het projectplan verder uitgewerkt tot een subsidieaanvraag aan de projectorganisatie “Wijkontwikkelingsplan Zuidwest”, waarmee wij de eerste activiteiten hebben kunnen organiseren.
    </p>
    <h2>Blijf optimistisch!</h2>
    <p>
        Het ontwikkelen van een Stichting van idee naar werkelijkheid is een proces van vallen en opstaan: Veel leermomenten. Dan is het heel waardevol wanneer er iemand meekijkt of je weer een beetje opbeurt. Ben is er erg goed in om dingen in perspectief te plaatsen en is een echte optimist.
    </p>
    <h2>Stand van zaken nu (begin 2016)</h2>
    <p>
        Uiteindelijk hebben wij een aantal succesvolle activiteiten in de wijk weten te organiseren, zijn inmiddels officieel een stichting geworden en werken samen met de gemeente wanneer het gaat om vrijwilligers. Ik ben de afgelopen jaren enorm gegroeid in mijn rol als initiatiefneemster en nu voorzitter van de Stichting. In die rol moet ik zaken los durven laten en leiding geven aan verschillende mensen en processen. Dan is het heel fijn om iemand naast je te hebben voor advies en luisterend oor, zoals Ben. Daarbij denkt hij ook heel actief mee over de volgende stappen en hoe wij zaken kunnen oppakken. Zijn heldere communicatie en oplossingsgerichte houding maken dat de samenwerking erg prettig verloopt. Mijn mentorschap is dan ook nog zeker niet afgelopen en ik hoop, samen met Ben, Stichting Konnekt Buurtnetwerken nog verder te ontwikkelen.
    </p>
    
    <div class="alert alert-info">
        <h2>Meer informatie over Konnekt Buurtnetwerk.</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://www.facebook.com/Buurtnetwerk" target="_blank">Facebook pagina van Konnekt Buurtnetwerk</a>
            </li>
            <li class="list-group-item">
                <a href="http://konnekt-buurtnetwerken.nl/" target="_blank">Website Konnekt Buurtnetwerk</a>
            </li>
        </ul>
        
        
    </div>
    
</div>

<% include ../_html/scripts %>