<% include ../_html/head %>

<% include ../_elements/navigation-top-bar %>

<div class="row subject">
    <div class="container">
        <h1 class="subject-title">Op welke wijze zou een mentorschap mij kunnen helpen?</h1>
        <h2 class="subject-subtitle">
            Wat is een <strong>mentorschap</strong> en hoe werkt het?
            <hr>
            <a href="<%= urlFor('home') %>" class="btn btn-default" title="Homepage">
                <i class="fa fa-home fa-2x"></i>
            </a>
            <a href="mailto:<%= contact.email %>?subject=Ik heb een vraag over mentorpower" class="btn btn-default" title="Neem contact met mij op per Email">
                <i class="fa fa-envelope-o fa-2x"></i>
            </a>
            <a href="<%= contact.linkin %>" class="btn btn-default" target="_blank" title="linkedin pagina van Ben Stuijts">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="<%= contact.facebook %>" class="btn btn-default" target="_blank" title="Facebook pagina van MentorPower">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="<%= contact.google %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
            <a href="<%= contact.twitter %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </h2>
    </div>
</div>

<div class="container">
    <% include ../_elements/breadcrumbs %>
    <h2><i class="fa fa-question-circle fa-2x title-icon"></i> Wat is een <strong>mentorschap</strong>?</h2>
    <p>
        Mijn ervaring is dat veel mensen geholpen worden door het stellen van de juiste 
        vragen EN het krijgen van antwoorden. Op sommige momenten in het leven is het 
        bijzonder effectief om in de goede richting gewezen te worden en te kunnen bouwen 
        op ervaringen van anderen. Een <strong>mentor</strong> is zo'n iemand, die naast de juiste vragen, 
        juist ook antwoorden geeft om jou verder te helpen. Uiteraard bepaal jezelf 
        uiteindelijk welk pad je gaat bewandelen. Een <strong>mentor</strong> gaat samen met jou op pad, 
        soms als gids en soms als metgezel.
    </p>
    
    <div class="jumbotron">
        <blockquote class="blockquote-reverse">
            
            <p>
                <i class="fa fa-quote-right fa-3x"></i>
                Ben hanteert een heldere, ´no nonsense´ aanpak die je brengt waar je zijn wilt. Al jaren leidinggevend aan zijn eigen team weet Ben feilloos op te pikken wat jouw competenties zijn en hoe je deze verder kunt ontwikkelen. Daarbij weet hij op heldere wijze valkuilen te belichten en deze op een positieve manier om te zetten naar kansen. Ben is kritisch, maar gedreven; als het even niet gaat zoals je zou willen dan weet hij je met zijn enthousiasme in no-time klaar te stomen voor de volgende stap richting jouw doel. Als jij niet opgeeft, doet Ben dat zeker niet!
            </p>
            <footer>Thérèse van Wassenaar, bron: <a href="https://www.facebook.com/mentorpower.nl/reviews/" target="_blank">Facebook Review MentorPower</a></footer>
        </blockquote>
    </div>
    
    <h2><i class="fa fa-compass fa-2x title-icon"></i> Waar kun je aan denken?</h2>
    <p>
        Je kunt voor een tal van zaken gebruik maken van een mentor. Uiteraard kan 
        ik jou alleen maar helpen met zaken, waar ik zelf uit ervaring over kan spreken. 
        Daarom begin ik altijd een mentorschap met een <mark>kennismakingsgesprek</mark>, waar wij samen
        onderzoeken of ik jou kan helpen. Wanneer wij allebei een positief gevoel hebben, maken wij
        afspraken over hoe wij het <strong>mentorschap</strong> precies gaan invullen.
    </p>
    
    
        
    <h3><div class="number number-xl">1</div> Je hebt een duw in de juiste richting nodig...</h3>
       
    
    <p>
        De duur van een <strong>mentorschap</strong> kan sterk variëren naar aanleiding van het 
        type opgave. Soms zijn twee of drie sessies al voldoende om een bepaald 
        doel te bereiken. Voorbeelden van dergelijke opgaven zijn:
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
            Ik wil heel gericht werken aan mijn <mark>persoonlijke ontwikkeling</mark>
        </li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Waar liggen mijn kwaliteiten?</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Welke stap moet ik zetten om een <mark>doel te bereiken</mark>?</li>
    </ul>
    
    <a href="mailto:{{contact}}?subject=Je hebt een duw in de juiste richting nodig" class="btn btn-default btn-mentorpower-blue">Heb je een vraag, mail mij!</a>
    
    <div class="margin-bottom-40"></div>
    
    <h3><div class="number number-xl">2</div> Je zoekt ondersteuning bij een klus of (nieuwe) baan.</h3>
    <p>
        Een <strong>mentorschap</strong> wordt ook vaak gekoppeld aan de duur van een project of 
        inwerkperiode. In de praktijk blijkt namelijk dat naast de reguliere 
        ondersteuning door collega's en een leidinggevende, het bieden van een 
        onafhankelijk klankbord in de vorm van een <strong>mentor</strong> betekent, dat iemand 
        veel sneller en effectiever zich weet te ontwikkelen in een organisatie 
        of project. Dergelijke vormen van <strong>mentorschap</strong> duren gemiddels 3 tot 9 maanden, 
        waarbij er om de twee a drie weken een moment gepland wordt om samen 
        jouw ontwikkeling en ervaring te bespreken. Tussendoor is er vaak 
        contact via telefoon, mail, sms of whatsapp, bij spannende of juist 
        succesvolle momenten. Voorbeelden hiervan zijn:
    </p>
    
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Ik wil beter kunnen <mark>communiceren en samenwerken</mark> met mijn collega's</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Ik wil klankborden over <mark>leidinggeven</mark></li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Ik wil projectmatig werken</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Mijn beleidsprocessen moeten uitnodigend zijn</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Ik wil op een gestructureerde manier mijn <mark>onderneming</mark> opbouwen</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Ik weet wat ik wil bereiken, maar hoe kom ik daar</li>
    </ul>
    
    <a href="mailto:{{contact}}?subject=Je zoekt ondersteuning bij een klus of nieuwe baan" class="btn btn-default btn-mentorpower-orange">Kan ik jou helpen?</a>
    
    <div class="margin-bottom-40"></div>
    
    
    <h3><div class="number number-xl">3</div> Doorlopende mentoring</h3>
    <p>
        Sommige persoonlijke ontwikkelingen vragen een langer traject, 
        waarin er heel vaak sprake is van het aan het begin elkaar intensief 
        zien en naarmate de tijd - en jij - vordert, het aantal contactmomenten 
        veel minder vaak effectief blijken. Jij wilt 
        echt wat anders, maar weet of nog niet precies wat je wilt of wat de 
        eerste stap zou moeten zijn. De <strong>mentor</strong> helpt je hierbij en maakt samen 
        met jou een plan om echt verder te komen en houdt gedurende een langer 
        proces de vinger aan de pols. 
        Voorbeelden hiervan zijn:
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Ik wil een <mark>carrière switch</mark> maken</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Ik wil <mark>structureel</mark> invulling geven aan mijn <mark>persoonlijke ontwikkeling</mark></li>
    </ul>
    
    <a href="mailto:{{contact}}?subject=Doorlopende mentoring" class="btn btn-default btn-mentorpower-blue">Ik wil graag met jou kennismaken.</a>
    
    <div class="margin-bottom-40"></div>
    
    <h2><i class="fa fa-lightbulb-o fa-2x title-icon"></i> Is een mentorschap iets voor jou?</h2>
    <p>
        Ik ben op zoek naar mensen, die ik zou kunnen helpen met de volgende stap in hun 
        carriere, persoonlijke ontwikkeling of het realiseren van hun droom. 
        Daarbij is het wel van belang dat mijn ervaringen aansluiten bij wat jij 
        nodig hebt. Het is daarom belangrijk om eerst een kennismakingsgesprek te hebben, 
        waarna wij samen bepalen om met elkaar aan de slag te gaan.
    </p>
    
</div>

<% include ../components/examples %>

<% include ../_html/scripts %>