<% include ../_html/head %>

<% include ../_elements/navigation-top-bar %>

<div class="row subject">
    <div class="container">
        <h1 class="subject-title">Suzan de Jong. Combinatie opleiding - stage - mentorschap.</h1>
        <h2 class="subject-subtitle">
            Hoe ontwikkel ik mij razendsnel in een nieuwe omgeving en binnen een nieuw vakgebied?
            <hr>
            <a href="<%= urlFor('home') %>" class="btn btn-default" title="Homepage">
                <i class="fa fa-home fa-2x"></i>
            </a>
            <a href="mailto:<%= contact.email %>?subject=Ik heb een vraag over mentorpower" class="btn btn-default" title="Neem contact met mij op per Email">
                <i class="fa fa-envelope-o fa-2x"></i>
            </a>
            <a href="<%= contact.linkin %>" class="btn btn-default" target="_blank" title="linkedin pagina van Ben Stuijts">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="<%= contact.facebook %>" class="btn btn-default" target="_blank" title="Facebook pagina van MentorPower">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="<%= contact.google %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
            <a href="<%= contact.twitter %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </h2>
    </div>
</div>

<div class="container">
    <% include ../_elements/breadcrumbs %>
    
    <div class="jumbotron">
        <blockquote class="blockquote-reverse">
            <img src="https://media.licdn.com/media/p/4/000/1b1/1eb/0f3031a.jpg" alt="Suzan de Jong" class="img-circle pull-left pasfoto">
            <p>
                <i class="fa fa-quote-right fa-3x"></i>
                Begin 2013 stond ik echt op een kruispunt: door een grootschalige reorganisatie onder invloed van de economische crisis van mijn toenmalige werkgever, werd mijn contract na 15 jaar beëindigd. Ik moest mij oriënteren op ander werk, keuzes maken in herscholing en wilde mijzelf verder ontwikkelen. Al snel kreeg ik het idee om mij meer te bekwamen in het project- en procesmanagement, waarvoor ik een opleiding ging volgen. De vraag wat mijn nieuwe baan nou moest zijn, was een lastige vraag. Het werk dat ik deed, had hele leuke kanten zoals de inhoud: sociaal-maatschappelijke vraagstukken aanpakken en mensen betrekken bij hun leefomgeving. Ook het adviserend en dienstverlenend bezig zijn, paste erg bij mij. Ik merkte echter dat ik soms wat anders wilde qua soort werkzaamheden en verantwoordelijkheden.
            </p>
            <% include ../partials/share %>  
        </blockquote>
        
    </div>
    
    <h2>Mentoring tijdens opleiding</h2>
    <p>
        Een mooi startpunt om met Ben een mentor- en coachingstraject te beginnen. Hij heeft mij gedurende de opleiding en stage bij de gemeente Lansingerland extra begeleid, waardoor ik heel snel de link tussen de theorie en de praktijk kon leggen. De projectmanagementcursus was op zich goed, maar natuurlijk wel inhoudelijk zo samengesteld dat alle onderwerpen aan bod komen, ongeacht welke onderwerpen de individuele cursisten wel of juist niet liggen. Dan is een mentor heel handig: Ben kon met mij veel meer de diepte in gaan op de onderwerpen waar ik behoefte aan had. Daarbij kon hij ook haarfijn de belangrijkste zaken identificeren in de veelheid van informatie, die op je af komt in zo’n cursus. Wij hebben de tijd genomen om een aantal proefexamens door te nemen en de vragen waar ik wat meer moeite mee had specifiek uit te spitten, waardoor ik met veel meer zelfvertrouwen het examen in kon gaan en dit ook met een prima cijfer (8) heb weten af te ronden.
    </p>
    <h2>Mentoring tijdens stage bij gemeentelijke organisatie</h2>
    <p>
        Gekoppeld aan de opleiding heb ik een stageplaats kunnen regelen bij de gemeente Lansingerland, bij de afdeling Beheer & Onderhoud. Ik ondersteunde daar de projectleider, die zich bezig hield met projecten rond Spelen en Groen. Het was voor mij de eerste keer dat ik echt binnen een gemeente – als onderdeel van de organisatie – ging werken. Dat was best wel even wennen, want de bedrijfscultuur van een adviesbureau, waar ik eerst werkte, en een gemeente is volledig anders. De afdeling waar ik mijn stage kon doen, was heel druk en er was eigenlijk weinig tijd voor de begeleiding van een stageplaats. Eigenlijk moest ik gelijk meedraaien, wat ik op zich ook fijn vond, omdat je dan ook het snelste leert en het dichtste bij het vuur komt te zitten. Dan is het wel heel handig om iemand naast je te hebben, die je snel wegwijs kan maken in gemeenteland. Ben heeft mij een aantal gerichte tips meegegeven hoe om te gaan met de hectiek op de afdeling. Daarbij is het ook wel heel handig om op een rustige manier uit gelegd te krijgen hoe een gemeente georganiseerd is en hoe bijvoorbeeld de dimensie politiek daar onderdeel van uitmaakt. Tenslotte heb ik tijdens mijn stage een aantal keer wat stukken gemaild naar Ben om met mij mee te kijken.
    </p>
    <h2>Kies voor jezelf!</h2>
    <p>
        Bleef de vraag “in welke richting moet ik mijn volgende baan zoeken?”. In onze gesprekken bleek dat ik heel erg veel in mijn hoofd bezig was met “denken dat andere mensen denken…”. Hierdoor maakte ik mijn keuzes heel sterk vanuit een perspectief van het voldoen aan de verwachtingen van anderen. Voorbeelden daarvan waren: “Je bent heel intelligent, je moet een baan zoeken, die bij jouw intelligentie past” en “je moet carrière gaan maken – iets doen met jouw capaciteiten”. Hierdoor had ik de neiging te solliciteren of mijzelf in de positie te plaatsen, waar ik het gevoel had om op mijn tenen te moeten lopen, wat mijn zelfvertrouwen geen goed deed. Ben heeft mij geholpen om te kiezen wat ik wil, waar mijn hart ligt en waar mijn kwaliteiten liggen. Hij zei heel vaak tegen mij, wanneer ik een sollicitatie niet ging doen op een baan, die “onder” mijn niveau lag, “So what? Wel doen, wanneer jij hier happy van wordt”. Het grappige is dat ik nu bij het maken van mijn keuzes vaak de slogan “so what?” in mijn hoofd afspeel.
Inmiddels heb ik nu een baan, waar ik zelf voor gekozen heb en waar ik het ontzettend naar mijn zin heb…
    </p>
    
    
    
</div>

<% include ../_html/scripts %>